<a href="https://colab.research.google.com/github/Krishna18-Kunal/Unsloth.AI-clone/blob/main/Class_work_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
M=[[1,22,2],[2,3,4],[4,5,6]]
M

[[1, 22, 2], [2, 3, 4], [4, 5, 6]]

In [ ]:
M[1][1]

3

In [ ]:
#learning python by Mark Lutz 5th Edition

In [ ]:
S='krishna kunal'
T=' IITP'
SS=S+T
SSS='r'+SS[1:]
print(SSS)

rrishna kunal IITP

In [ ]:
dir(S)

In [ ]:
L=[22,'krishna kuanl',22.22,'Ankush']
#len(L)
L.append('Shyam')
L.pop(2)
len(L)
L

[22, 'krishna kuanl', 'Ankush', 'Shyam']

In [ ]:
#Dictionaries
D={'A':'Abhi','2':'santosh','C':400}
D['A']+"shek"
D

{'A': 'Abhi', '2': 'santosh', 'C': 400}

In [ ]:
D={}
D['Name']='Abhi'
D['job']='CE'
D['age']='22'
D

{'Name': 'Abhi', 'job': 'CE', 'age': '22'}

In [ ]:
s="34"
i=1
int(s)+i

35

In [ ]:
B = '1101' # Convert binary digits to integer with ord
I = 0
while B != '':
   I = I * 2 + (ord(B[0]) - ord('0'))
   B = B[1:]
I

13

In [ ]:
f=open('data_k.txt','w')
f.write("krishna kunal\n")
f.write('1,2,3,4,5')
f.close()

In [ ]:
x='kk'
x=31.1
print(x)
a=1;b=2;print(a+b)

31.1
3

In [ ]:
f=open('data_k.txt')
text=f.read()
print(text)

krishna kunal
1,2,3,4,5

In [ ]:
if not 1:
  print('true')
else:
  print('false')

false

In [ ]:
x='bags'
if x=='chain':
  print("bags in the chain")
elif x=='bags':
  print('what')
else:
  print("go to school!")

what

In [ ]:
x='krishna'
while x:
  print(x)
  x=x[1:]

krishna
rishna
ishna
shna
hna
na
a

In [ ]:
a=0
b=10
while a<b:
  print(a)
  a=a+1

In [ ]:

x=10
while x:
  x=x-1
  if x%2!=0: continue
  print(x)

8
6
4
2
0

In [ ]:
sum=0
pro=1
for i in [1,2,3,4,5,6]:
  sum=sum+1
  pro=pro*1
print(sum)
print(pro)

6
1

In [ ]:
s='krishan kunal'
for i in s:
  print(i,end='')

krishan kunal

In [ ]:
T=('and',2,'k')
for j in T:
  print(j)

and
2
k

In [ ]:
def my_func(fname,lname):
  print(fname +" "+ lname)
my_func('krishan','kunal')

krishan kunal

In [ ]:
def my_func(a,b):
  sum=a+b
  print(sum)
my_func(2400.325,5234.36)

7634.6849999999995

In [ ]:
my_func(2131244,566778)

2698022

In [ ]:
def my_sum(*a):
  sum=0
  for i in a:
    sum=sum+i
  print(sum)
my_sum(120,356,2325,368694)

371495

In [ ]:
my_sum(2,5,5)

12

In [ ]:
def name_age(name,age):
  print('Hi,I am',name)
  print('My age is',age)
name_age(name="krishna",age=18)

Hi,I am krishna
My age is 18

In [ ]:
def div_(*,a,b):
  value=a/b
  print(value)
div_(b=5,a=10)

2.0

In [ ]:
def div_(a,b,/):
  value=a/b
  print(value)
div_(4,6)

0.6666666666666666

In [ ]:
def fun_sum(n):
  value=1
  while n>0:
   value=value*n
   n=n-1
  return(value)
fun_sum(3)

6

In [ ]:
def fac_t(n):
  if n==0:
   return (1)
  else:
    n=n*fac_t(n-1)
    return(n)
fac_t(5)

120

In [ ]:
def fun_sum(n):
  value=0
  while n>0:
   value=value+n
   n=n-1
  return(value)
fun_sum(100)

5050

In [ ]:
def poly(n):
  value=2*n*n*n+5*n*n-10
  return(value)
poly(5)

365

In [ ]:
class Student:
  def __init__(self,name,age):
    self.name=name
    self.age=age
s1 =Student('Ankush',22)
print(s1.name)
print(s1.age)

Ankush
22

In [ ]:
class Student:
 def __init__(self, name, age, idnumber):
   self.name= name
   self.age= age
   self.idnumber=idnumber
 def display (self):
    print(self.name)
    print(self.idnumber)
    print(self.age)
 def details (self):
   print("My name is {}".format(self.name))
   print("IdNumber: {}".format(self.idnumber))
s1 = Student('Ankush', 22, 2024001)
s2=Student('Manish', 23, 2024002)
s1.details()
s2.details ()

My name is Ankush
IdNumber: 2024001
My name is Manish
IdNumber: 2024002